Api_Sample/Api_Sample/bin/
Api_Sample/Api_Sample/obj/
Api_Sample/packages
Api_Sample/.vs
Sample_Application/Sample_Application/bin
Sample_Application/Sample_Application/obj
Sample_Application/packages
Sample_Application/.vs